body{
  background: url('img.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: monospace;
  font-size: 15px;
}
nav li{
  list-style-type: none;
  padding: 10px 10px 5px 10px;
}

.left{
  float: left;
}

a{
  color: #333;
  transition: all 0.2s;
}
a:hover{
  color: #000;
  text-decoration: none;
}
a:visited, a:focus{
  text-decoration: none;
}
.slide{
  display: block;
  width: 0;
  height:2px;
  background: #000;
  transition: width 0.2s;
}
.clearfix{
  clear: both;
}

h1{
  text-align: center;
  padding-top: 20%;
}
#about{
  background: rgba(0,0,0,0.1);
  padding: 5px;
}
.container{
  height: 100vh;
}
.red{
  height: 100px;
  width: 100px;
  background: red;
}
h2{
  text-align: center;
  padding-bottom: 5%;
}
iframe{
  width: 70%;
  height: 500px;
  display: block;
  margin: 50px auto;
}

@media screen and (max-width: 768px){
  iframe{
    height: 200px;
    width: 80%;
  }
}
